<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <% breadCrumb.forEach(function(user){ %>
            <li class="breadcrumb-item"><a href="#"><%= user %></a></li>
        <% }); %>
    </ol>
</nav>