<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    </head>
    <body>
        <div id="app">
            <%- include header.ejs %>

            <div class="container">
                <%- include('breadcrumb.ejs', {breadCrumb}) %>
                <div>
                    <%- view %>
                </div>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    greeting: 'Welcome to posts! from vue ',
                    listProducts: [],
                    modelRegister: {
                        name: '',
                        email: '',
                        username: '',
                        password: ''
                    },
                    messageRegister: {
                        message: '',
                        status: ''
                    },
                    modelLogin: {
                        username: '',
                        password: ''
                    },
                    item: {
                        product_name: 'Nhu cc'
                    },
                    modelUserLoged: {

                    }
                },
                methods: {
                    register: async function(e) {
                        const result = await axios.post('http://localhost:1234/register', this.modelRegister)
                        console.log(11111111, result.data);
                        if(result && result.data.success) {
                            // qua login
                            this.messageRegister.message = 'Thành công';
                            this.messageRegister.status = 'alert alert-success';
                        } else {
                            this.messageRegister.message = result && result.data && result.data.error ? 
                            (result.data.error.errmsg || result.data.error.message) : 'Có lỗi xảy ra';
                            this.messageRegister.status = 'alert alert-danger'
                        }
                    },
                    login: async function (p) {
                        const result = await axios.post('http://localhost:1234/login', this.modelLogin)
                        console.log(11111111, result.data);
                        if(result && result.data.success) {
                            localStorage.setItem('InfoAuth',  JSON.stringify(result.data.data));
                            alert('Success');
                            window.location.href = '/';
                        } else {
                           alert('Login faile')
                        }
                    },
                    showPost: function (p) {
                        alert(p.title + "\n" + p.body)
                    },
                    getListProduct: async function () {
                        var self = this;
                        const data = await axios.get('http://localhost:1234/client_products');
                        console.log('zzzzzzzzzzzz11111', data)
                        this.listProducts = data.data.data;
                    },
                    viewDetail: function(item) {
                        console.log(11111111111, item)
                        this.item = item;
                        window.location.href = '/details/' + item._id;
                    },
                    getItemDetailById: async function(id) {
                        const data = await axios.get('http://localhost:1234/products/' + id);
                        console.log(data);
                      
                    },
                    getUser: function() {
                        const user = localStorage.getItem('InfoAuth');
                        console.log(11111111111, user)
                        this.modelUserLoged = user ? JSON.parse(user) : {};
                    }
                }, 
                mounted(){
                    this.getListProduct(),
                    this.getUser()
                }
            })
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>